h1 {
	color: #1C9435;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}
*{
	margin: 2;
	padding: 1;
}
p span {
	color: #1C9435;
	font-weight: bold;
	
}
p span span{
	color: #FF0EED;
	font-style: italic;
	
}
.aviso {
	color: #F0000D;
	font-weight: bold;
}
#alerta {
	color: #0ff00D;
	font-weight: bold;
	font-size: 30px;
}
#alerta1 .aviso1 {
	color: #0f00fD;
	font-weight: bold;
	font-style: italic;
	font-size: 20px;
}